# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Mac OS
.DS_Store

# Selenium browser downloads or temp files (if any)
*.crdownload
